<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.dao.SnatchInfoMapper">
  <resultMap id="BaseResultMap" type="com.ocean.pojo.SnatchInfo">

    <id column="snatch_info_id" jdbcType="BIGINT" property="snatchInfoId" />
    <result column="snatch_mobile_number" jdbcType="VARCHAR" property="snatchMobileNumber" />
    <result column="snatch_user_id" jdbcType="VARCHAR" property="snatchUserId" />
    <result column="rule_publish_id" jdbcType="VARCHAR" property="rulePublishId" />
    <result column="snatch_datetime" jdbcType="TIMESTAMP" property="snatchDatetime" />
    <result column="is_audit" jdbcType="TINYINT" property="isAudit" />
    <result column="audit_datetime" jdbcType="TIMESTAMP" property="auditDatetime" />
    <result column="snatch_money" jdbcType="TINYINT" property="snatchMoney" />

    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />

    <result column="user_name" jdbcType="VARCHAR" property="userName" />

    <result column="rule_title" jdbcType="VARCHAR" property="ruleTitle" />
    <result column="rule_type" jdbcType="VARCHAR" property="ruleType" />
    <result column="rule_content" jdbcType="VARCHAR" property="ruleContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_alive" jdbcType="TINYINT" property="isAlive" />
    <result column="publish_user_id" jdbcType="VARCHAR" property="publishUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    snatch_info_id, snatch_mobile_number, snatch_user_id, rule_publish_id, snatch_datetime, 
    is_audit, audit_datetime, snatch_money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from snatch_info
    where snatch_info_id = #{snatchInfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from snatch_info
    where snatch_info_id = #{snatchInfoId,jdbcType=BIGINT}
  </delete>
  <!--抢单插入数据-->
  <insert id="insert" parameterType="com.ocean.pojo.SnatchInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into snatch_info (snatch_info_id, snatch_mobile_number, 
      snatch_user_id, rule_publish_id, snatch_datetime, 
      is_audit, audit_datetime, snatch_money
      )
    values (#{snatchInfoId,jdbcType=BIGINT}, #{snatchMobileNumber,jdbcType=VARCHAR}, 
      #{snatchUserId,jdbcType=VARCHAR}, #{rulePublishId,jdbcType=VARCHAR}, #{snatchDatetime,jdbcType=TIMESTAMP},
      #{isAudit,jdbcType=TINYINT}, #{auditDatetime,jdbcType=TIMESTAMP}, #{snatchMoney,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.pojo.SnatchInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into snatch_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="snatchInfoId != null">
        snatch_info_id,
      </if>
      <if test="snatchMobileNumber != null">
        snatch_mobile_number,
      </if>
      <if test="snatchUserId != null">
        snatch_user_id,
      </if>
      <if test="rulePublishId != null">
        rule_publish_id,
      </if>
      <if test="snatchDatetime != null">
        snatch_datetime,
      </if>
      <if test="isAudit != null">
        is_audit,
      </if>
      <if test="auditDatetime != null">
        audit_datetime,
      </if>
      <if test="snatchMoney != null">
        snatch_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="snatchInfoId != null">
        #{snatchInfoId,jdbcType=BIGINT},
      </if>
      <if test="snatchMobileNumber != null">
        #{snatchMobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="snatchUserId != null">
        #{snatchUserId,jdbcType=VARCHAR},
      </if>
      <if test="rulePublishId != null">
        #{rulePublishId,jdbcType=VARCHAR},
      </if>
      <if test="snatchDatetime != null">
        #{snatchDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAudit != null">
        #{isAudit,jdbcType=TINYINT},
      </if>
      <if test="auditDatetime != null">
        #{auditDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="snatchMoney != null">
        #{snatchMoney,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.pojo.SnatchInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update snatch_info
    <set>
      <if test="snatchMobileNumber != null">
        snatch_mobile_number = #{snatchMobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="snatchUserId != null">
        snatch_user_id = #{snatchUserId,jdbcType=VARCHAR},
      </if>
      <if test="rulePublishId != null">
        rule_publish_id = #{rulePublishId,jdbcType=VARCHAR},
      </if>
      <if test="snatchDatetime != null">
        snatch_datetime = #{snatchDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAudit != null">
        is_audit = #{isAudit,jdbcType=TINYINT},
      </if>
      <if test="auditDatetime != null">
        audit_datetime = #{auditDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="snatchMoney != null">
        snatch_money = #{snatchMoney,jdbcType=TINYINT},
      </if>
    </set>
    where snatch_info_id = #{snatchInfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.pojo.SnatchInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update snatch_info
    set snatch_mobile_number = #{snatchMobileNumber,jdbcType=VARCHAR},
      snatch_user_id = #{snatchUserId,jdbcType=VARCHAR},
      rule_publish_id = #{rulePublishId,jdbcType=VARCHAR},
      snatch_datetime = #{snatchDatetime,jdbcType=TIMESTAMP},
      is_audit = #{isAudit,jdbcType=TINYINT},
      audit_datetime = #{auditDatetime,jdbcType=TIMESTAMP},
      snatch_money = #{snatchMoney,jdbcType=TINYINT}
    where snatch_info_id = #{snatchInfoId,jdbcType=BIGINT}
  </update>

  <insert id="insertSnatInfo" parameterType="com.ocean.pojo.SnatchInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into yqdb.snatch_info (snatch_info_id, snatch_mobile_number,
    snatch_user_id, rule_publish_id, snatch_datetime,
    is_audit, audit_datetime, snatch_money
    )
    values (#{snatchInfoId,jdbcType=BIGINT}, #{snatchMobileNumber,jdbcType=VARCHAR},
    #{snatchUserId,jdbcType=VARCHAR}, #{rulePublishId,jdbcType=VARCHAR}, #{snatchDatetime,jdbcType=TIMESTAMP},
    #{isAudit,jdbcType=TINYINT}, #{auditDatetime,jdbcType=TIMESTAMP}, #{snatchMoney,jdbcType=TINYINT}
    )
  </insert>
<!-- 我的抢单 -->
  <!--  定义结果集 -->
  <resultMap id="SnatchResultMap" type="com.ocean.pojo.SnatchInfo" extends="BaseResultMap">
    <association property="rulePublishDatetime" javaType="com.ocean.pojo.RulePublishDatetime">
      <result column="rule_datetime_start" property="ruleDatetimeStart" />
      <result column="rule_datetime_end" property="ruleDatetimeEnd" />
      <result column="rule_money" property="ruleMoney" />
      <result column="order_num" property="orderNum" />
      <result column="rule_num" property="ruleNum" />
    </association>

  </resultMap>
  <!--  单个发布对应抢单列表-->
  <select id="myOnePublishListById" resultMap="BaseResultMap">
  select c.rule_title,c.rule_content,c.publish_user_id,c.snatch_mobile_number,c.snatch_user_id,
	c.rule_publish_id,c.snatch_datetime,c.is_audit,c.audit_datetime,c.snatch_money,d.user_name,d.user_type,d.store_name,d.region_name,d.city_name
	from
	(SELECT a.rule_title,a.rule_type,a.rule_content,a.is_alive,a.is_del,a.publish_user_id,
	b.snatch_mobile_number,b.snatch_user_id,b.rule_publish_id,b.snatch_datetime,b.is_audit,b.audit_datetime,b.snatch_money
	from YQDB.rule_publish a,YQDB.snatch_info b
	where a.rule_publish_id=b.rule_publish_id
	and a.rule_publish_id=#{rulePublishId}) c,
	(SELECT a.user_id,a.user_name,a.user_type,b.store_name,b.region_name,b.city_name from YQDB.t_user a,YQDB.t_store b
    where a.store_id=b.store_id) d
	where c.snatch_user_id=d.user_id
   </select>

  <!--  单个发布当日对应抢单列表 -->
  <select id="myOnePublishDayList" resultMap="BaseResultMap">
 select c.rule_title,c.rule_content,c.publish_user_id,c.snatch_mobile_number,c.snatch_user_id,
	c.rule_publish_id,c.snatch_datetime,c.is_audit,c.audit_datetime,c.snatch_money,d.user_name,d.user_type,d.store_name,d.region_name,d.city_name
	from
	(SELECT a.rule_title,a.rule_type,a.rule_content,a.is_alive,a.is_del,a.publish_user_id,
	b.snatch_mobile_number,b.snatch_user_id,b.rule_publish_id,b.snatch_datetime,b.is_audit,b.audit_datetime,b.snatch_money
	from YQDB.rule_publish a,YQDB.snatch_info b
	where a.rule_publish_id=b.rule_publish_id
	and a.rule_publish_id=#{rulePublishId}
	and TO_DAYS(b.snatch_datetime)=TO_DAYS(NOW())) c,
	(SELECT a.user_id,a.user_name,a.user_type,b.store_name,b.region_name,b.city_name from YQDB.t_user a,YQDB.t_store b
    where a.store_id=b.store_id) d
	where c.snatch_user_id=d.user_id
   </select>

  <!--  我的抢单 -->
  <select id="mySnatchList" resultMap="SnatchResultMap">
   select c.rule_title,c.rule_type,c.rule_content,c.is_alive,c.publish_user_id,
	c.snatch_mobile_number,c.snatch_user_id,c.rule_publish_id,c.snatch_datetime,c.is_audit,c.audit_datetime,c.snatch_money,
	d.rule_datetime_start,d.rule_datetime_end,d.rule_money,d.rule_num
	from
    (SELECT a.rule_title,a.rule_type,a.rule_content,a.is_alive,a.is_del,a.publish_user_id,a.rule_datetime_id,
	b.snatch_mobile_number,b.snatch_user_id,b.rule_publish_id,b.snatch_datetime,b.is_audit,b.audit_datetime,b.snatch_money
	from YQDB.rule_publish a,YQDB.snatch_info b
	where a.rule_publish_id=b.rule_publish_id
	and b.snatch_user_id =#{snatchUserId}) c,YQDB.rule_publish_datetime d
	where c.rule_datetime_id=d.rule_datetime_id
  </select>

  <!--  我的抢单单个详情 -->
  <select id="mySnatchDetail" resultMap="SnatchResultMap">
    select m.*,n.*
    from
    (SELECT a.*,b.rule_datetime_start,b.rule_datetime_end,b.rule_money,b.rule_num,b.order_num
    from YQDB.rule_publish a,YQDB.rule_publish_datetime b
    where a.rule_datetime_id=b.rule_datetime_id) m,
    (SELECT c.user_id,c.user_name,c.user_type,c.store_name,c.region_name,c.city_name,d.*
    from
    (SELECT a.user_id,a.user_name,a.user_type,b.store_name,b.region_name,b.city_name
    from YQDB.t_user a,YQDB.t_store b
    where a.store_id=b.store_id) c,YQDB.snatch_info d
    where c.user_id=d.snatch_user_id
    and d.snatch_mobile_number=#{snatchMobileNumber}) n
    where m.rule_publish_id=n.rule_publish_id

  </select>
  <!--  抢单头条 -->
  <select id="snatchLatest" resultMap="SnatchResultMap">
   SELECT e.rule_title,f.store_name,f.region_name,f.city_name from YQDB.rule_publish e,
  (SELECT c.rule_publish_id,d.store_name,d.region_name,d.city_name,MAX(c.snatch_datetime)
  from YQDB.snatch_info c,
  (SELECT a.user_id,a.user_name,a.user_type,b.store_name,b.region_name,b.city_name
  from YQDB.t_user a,YQDB.t_store b
  where a.store_id=b.store_id) d
  WHERE c.snatch_user_id=d.user_id) f
  WHERE e.rule_publish_id=f.rule_publish_id
  </select>
</mapper>